#headimg {
  margin: auto;
    padding-left: 8%;
    
}


input {
    margin-bottom: 15px;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* CSS for navbar and dropdowns*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  
    position: fixed;
 
}

li {
    float: left;
    max-height: 100%;
    
}
.topnavbar {
    width: 100%;
    overflow: hidden;
}

.topnavitem{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 2px solid gray;
    
}

ul :hover {
    background-color: white;
    color: red;
    border-bottom: 1px solid red;
    transition-duration: 0.1s;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.active {
 border-bottom-color: solid 1px red;   
}

button {
   vertical-align: baseline;
    align-content: center;
}

fieldset {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: whitesmoke;
    border-radius: 3px;
    border: solid 1px red;
    }

label {
  display: inline-block;
  color: gray;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin-bottom: 30px;
  
}


input[type=text] {
    width: 200px;
    padding: 12px 20px;
	margin-left: auto;
	margin-right: auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	border-radius: 6px;
}

button {
    background-color: red;
    color: white;
    padding: 14px 20px;
	margin-left: auto;
	margin-right: auto;
    border: none;
    cursor: pointer;
    width: 200px;
	font-family: 'Oswald', sans-serif;

}
[type="submit"]{
	margin-left: center;
	margin-right: auto;
	width: inherit;
	margin-top: 12%;
	font-family: 'Oswald', sans-serif;
	border-radius: 6px;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
	   font-family: 'Oswald', sans-serif;
    }
    .cancelbtn {
       width: 100%;
    }
}
form {

    display: inline-block;
    text-align: center;
	font-family: 'Oswald', sans-serif;
}
    }
button {
	display: inline-block;
    text-align: center;
	font-family: 'Oswald', sans-serif;
}
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
	}
	