
form {
    border: 3px solid #f1f1f1;
}

input[type=text] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=password]{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;

}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
 {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
 }
form {
    display: inline-block;
    }
@media screen and (min-width: 480px) {
  label {
    display: inline-block;
    color: black;
    background-color: white;
    margin-right: 5px;
    font-size: 1.3em;
  }
  div {
    display: block;
  }

}

